---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import ChangeLog from "@components/ChangeLog";
---

<Layout>
  <Header activeNav="changelog" />
  <Breadcrumbs />
  <main id="main-content">
    <section class="prose max-w-3xl prose-img:border-0">
      <h1 class="text-2xl sm:text-3xl tracking-wider">Changelog</h1>
    </section>
    <section id="about" class="mb-10 prose max-w-3xl prose-img:border-0">
      <p>
        Changelog的概念是受到Brain Lovin這篇文章的啟發 <a
          href="https://brianlovin.com/writing/make-a-personal-changelog"
          >Make a personal changelog</a
        >
        <br />
         我覺得紀錄是一件很重要的事情，我希望自己到老後還能有個地方好好回顧自己曾經做過的每一件事，Changelog的概念讓我能記錄下來自己每個時間點做的一些小成就，而且也能讓我快速跟大家分享我最近做了哪些事情或是學習到哪些新事物。
      </p>
    </section>
    <section class="hero mb-28 prose max-w-4xl prose-img:border-0">
      <ChangeLog client:only="react" />
    </section>
  </main>

  <Footer />
</Layout>

<style></style>
