---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Hr from "@components/Hr.astro";
import EuroMapChart from '@components/EuroMapChart';
import AsiaMapChart from '@components/AsiaMapChart';

---

<Layout>
  <Header activeNav="travel" />
  <Breadcrumbs />
  <main id="main-content">
    <section class="mb-18 prose max-w-3xl prose-img:border-0">
      <h1 class="text-2xl sm:text-3xl tracking-wider" >Travel</h1>
      <p>
        自己本身非常熱愛旅行，希望透過地圖跟時間軸來記錄自己曾經去過的國家
        <br/>
        這些地圖效果是使用React-simple-map這個套件來製作的。
      </p>
      <h2 class="font-bold">TO DO</h2>
      <ul class="pl-0">
        <li class="flex items-center h-5">
          <input checked="checked" disabled type="checkbox" class="border-gray-300 rounded h-5 w-5 mr-2" /> 
          Maker
        </li>
        <li class="flex items-center h-5">
          <input checked="checked" disabled type="checkbox" class="border-gray-300 rounded h-5 w-5 mr-2" /> 
        Tooltip 
        </li>
        <li class="flex items-center h-5">
          <input  disabled type="checkbox" class="border-gray-300 rounded h-5 w-5 mr-2" />
          Timeline
        </li>
        <li class="flex items-center h-5">
          <input  disabled type="checkbox" class="border-gray-300 rounded h-5 w-5 mr-2" />
          Article Link 
        </li>
        <li class="flex items-center h-5">
          <input  disabled type="checkbox" class="border-gray-300 rounded h-5 w-5 mr-2" />
          City Map 
        </li>
        <li class="flex items-center h-5">
          <input  disabled type="checkbox" class="border-gray-300 rounded h-5 w-5 mr-2" />
          Map Switch 
        </li>
      </ul>
    </section>
    <section class="featured">
      <h2>Europe</h2>
      <EuroMapChart client:only="react"/>
    </section>
    <!-- <section class="featured">
      <h2>Asia</h2>
      <AsiaMapChart client:only="react"/>
    </section> -->
    <Hr />
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
 
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply h-6 w-6 scale-110 sm:scale-125 mb-2 sm:mb-3 fill-skin-accent;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply flex flex-col sm:flex-row sm:items-center mt-4 mb-6;
  }
  .social-icons {
    @apply mt-1 sm:mt-0 sm:ml-2 sm:space-x-1;
  }
  .link-button {
    @apply p-2 sm:p-1 hover:rotate-6;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  .featured,
  #recent-posts {
    @apply pt-12 pb-6;
  }
  .featured h2,
  #recent-posts h2 {
    @apply font-semibold text-2xl tracking-wide;
  }

  .all-posts-btn-wrapper {
    @apply text-center my-8;
  }
</style>